<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  <!--    Stylesheet Files    -->
  <link rel="stylesheet" href="stylesheets/normalize.css" />
  <link rel="stylesheet" href="stylesheets/foundation.min.css" />
  <link rel="stylesheet" href="stylesheets/home.css" />
  <link rel="stylesheet" href="stylesheets/foundationDatePicker.css" />
  <link rel="stylesheet" href="stylesheets/slideshow.css" />

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css" rel="stylesheet" type="text/css" />

  <!--    Javascript files are placed before </body>    -->
</head>

<body>
  <!--  Start Hero Section  -->
<div class="container">
  <nav class="sub_menu">
    <ul>
      <li><a href="/user-authentication">Become a host/manage properties</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
</div>
 <section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="/">Borrego<small class="tld">rentals</small></a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li ><a href="/">Home</a></li>
                <li ><a href="/vacation-rentals">Vacation Homes</a></li>
                <li ><a href="/promotions">Promotions</a></li>
                <li ><a href="/about">About Us</a></li>
                <li ><a href="/rates">Rates</a></li>
                <li><a href="/legal-info">Legal Info</a></li>
      </ul>
    </nav>
  </div>
</section>

<div>
  <br>
</div>

<!--Body Start -->
<div class="about-us-first-container">
  <div class="about-us-second-container">
    <div class="row">
      <div class="medium-12 large-6 columns">
        <h1>Who we are</h1>
        <hr class="hr-short">
        <p>
          Borrego Rentals is your resource for renting quality mountain condominium and resort home accommodations. We offer hundreds of privately owned vacation residences in beautiful Borrego desert, California’s four season resort.
        </p>
        <p>
          Borrego Rentals strives to make your Borrego vacation in any season a memorable one. Reserve your luxury condo or home rental online today.
        </p>
        <button class="huge ui orange button">
          <i class="fa fa-home"></i>See the Rentals
        </button>
      </div>
      <div class="medium-12 large-6 columns">
        <h1>Our Philosophy</h1>
        <hr class="hr-short">
          <p>
            We’re the best vacation rental company in Borrego because we focus on people. Great customer service comes from great employees. Our entire staff is local, we live and work here, we know Borrego and we can help you pick the perfect spot for your next trip to Borrego.
          </p>
          <p>
            The staff at Borrego Reservations is here 24/7, working around the clock to ensure you have an enjoyable vacation.
          </p>
          <button class="huge ui green button">
          <i class="fa fa-envelope"></i>Get in touch
        </button>
      </div>
    </div>
    <br>
  </div>
  <div class="row facts">
    <div class="small-12 medium-4 columns">
      <h1>4</h1>
      <h3>Properties</h3>
      <p>Growing every day</p>
    </div>
    <div class="small-12 medium-4 columns">
      <h1>150+</h1>
      <h3>Bookings</h3>
      <p>Again, growing every day</p>
    </div>
    <div class="small-12 medium-4 columns">
      <h1>150+</h1>
      <h3>Happy Guests</h3>
      <p>We're always doing our best to solve problems</p>
    </div>
  </div>
  <div class="row why">
    <div class="container small-12 medium-12 columns">
      <h1>Why Choose Borrego Rentals?</h1>
      <p>
        We offer hundreds of privately owned vacation residences in beautiful Borrego, California’s four season resort, and we are the preferred choice when looking for accommodations. Borrego Rentals makes your Borrego vacation in any season a memorable one.
      </p>
      <p>
        Our policy is to strive to maintain the highest level of service possible for our guests. We are always ready to listen to your needs and requirements to ensure that your stay with us is enjoyable and meets with all of your expectations.
      </p>
    </div>
  </div>
  <div class="features-wrap">
    <div class="row features">
      <div class="small-12 medium-4 columns">
        <div class="feature-container">
          <div class="feature-icon">
            <i class="home icon huge"></i>
            <hr>
          </div>
          <div class="feature-text">
            <h1>Best Selection of Properties</h1>
            <p>Over 200 quality Borrego vacation rentals.</p>
          </div>
        </div>
        <div class="feature-container">
          <div class="feature-icon">
            <i class="tag icon huge"></i>
            <hr>
          </div>
          <div class="feature-text">
            <h1>Incredible Value & Savings</h1>
            <p>Book direct and save…check out our promotions.</p>
          </div>
        </div>
        <div class="feature-container">
          <div class="feature-icon">
            <i class="lock icon huge"></i>
            <hr>
          </div>
          <div class="feature-text">
            <h1>Secure, Online Booking</h1>
            <p>Safe, secure, mobile-friendly online booking.</p>
          </div>
        </div>
        <div class="feature-container">
          <div class="feature-icon">
            <i class="mobile icon huge"></i>
            <hr class="hr-last">
          </div>
          <div class="feature-text">
            <h1>Mobile Friendly Website</h1>
            <p>State of the art. View properties and book from your phone.</p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="feature-container">
          <div class="feature-icon">
            <i class="trophy icon huge"></i>
            <hr>
          </div>
          <div class="feature-text">
            <h1>High Quality Housekeeping</h1>
            <p>On staff housekeeping, expect cleanliness!</p>
          </div>
        </div>
        <div class="feature-container">
          <div class="feature-icon">
            <i class="clock icon huge"></i>
            <hr>
          </div>
          <div class="feature-text">
            <h1>24/7 Emergency</h1>
            <p>Always on call to address any situation.</p>
          </div>
        </div>
        <div class="feature-container">
          <div class="feature-icon">
            <i class="wrench icon huge"></i>
            <hr>
          </div>
          <div class="feature-text">
            <h1>Maintenance</h1>
            <p>On staff maintenance a phone call away.</p>
          </div>
        </div>
        <div class="feature-container">
          <div class="feature-icon">
            <i class="eye icon huge"></i>
            <hr class="hr-last">
          </div>
          <div class="feature-text">
            <h1>Detailed Property Information</h1>
            <p>Have confidence…what you see is what you get.</p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="feature-container">
          <div class="feature-icon">
            <i class="heart icon huge"></i>
            <hr>
          </div>
          <div class="feature-text">
            <h1>Great Customer Service</h1>
            <p>We know Borrego, and we’re here to help!</p>
          </div>
        </div>
        <div class="feature-container">
          <div class="feature-icon">
            <i class="map marker icon huge"></i>
            <hr>
          </div>
          <div class="feature-text">
            <h1>More Locations</h1>
            <p>Vacation rentals in every part of Borrego.</p>
          </div>
        </div>
        <div class="feature-container">
          <div class="feature-icon">
            <i class="wifi icon huge"></i>
            <hr>
          </div>
          <div class="feature-text">
            <h1>Wi-Fi</h1>
            <p>Internet available in almost every property. Ask!</p>
          </div>
        </div>
        <div class="feature-container">
          <div class="feature-icon">
            <i class="star icon huge"></i>
            <hr class="hr-last">
          </div>
          <div class="feature-text">
            <h1>High Thread Count Linens</h1>
            <p>We provide towels and linens for your stay.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row contact-us-wrap">
        <form id="contact">
          <div class="container">
            <div class="head">
              <h2>Contact Us</h2>
            </div>
            <input type="text" name="name" placeholder="Name" /><br />
            <input  type="email" name="email" placeholder="Email" /><br />
            <textarea type="text" name="message" placeholder="Message"></textarea><br />
            <div class="message">Message Sent</div>
            <button id="submit" type="submit">
              Send!
            </button>
          </div>
        </form>
      </div>
</div>

<!--footer-->
<footer class="marketing-site-footer rates">
  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p>&copy; 2017 No rights reserved</p>
        <ul class="menu marketing-site-footer-bottom-links">
          <li ><a href="/">Home</a></li>
          <li ><a href="/vacation-rentals">Vacation Homes</a></li>
          <li ><a href="/promotions">Promotions</a></li>
          <li ><a href="/about">About Us</a></li>
          <li ><a href="/rates">Rates</a></li>
          <li><a href="/legal-info">Legal Info</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!--    Start Back To Top    -->
<a href="#" class="btn_fancy" id="back_top">
  <div class="solid_layer"></div>

  <div class="text_layer"><img src="images/top_arrow.png" alt="Back to top" title="" class="top_arrow"></div>
</a>
<!--    End Back To Top    -->


<!--    Javascript Files    -->
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRgACgXH1Y2iJwKDb95iwQlIxprygg7Fg&callback=initMap" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript" src="javascripts/touchSwipe.min.js"></script>
<script type="text/javascript" src="javascripts/easing.js"></script>
<script type="text/javascript" src="javascripts/foundation.min.js"></script>
<script type="text/javascript" src="javascripts/foundation/foundation.topbar.js"></script>
<script type="text/javascript" src="javascripts/carouFredSel.js"></script>
<script type="text/javascript" src="javascripts/scrollTo.js"></script>
<script type="text/javascript" src="javascripts/slideshow.js"></script>
<script type="text/javascript" src="javascripts/mapBottom.js"></script>
<script type="text/javascript" src="javascripts/mapSide.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>


</body>
</html>
