<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  <!--    Stylesheet Files    -->
  <link rel="stylesheet" href="stylesheets/normalize.css" />
  <link rel="stylesheet" href="stylesheets/foundation.min.css" />
  <link rel="stylesheet" href="stylesheets/home.css" />
  <link rel="stylesheet" href="stylesheets/foundationDatePicker.css" />
  <link rel="stylesheet" href="stylesheets/slideshow.css" />

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css" rel="stylesheet" type="text/css" />

  <!--    Javascript files are placed before </body>    -->
</head>

<body>
  <!--  Start navigaion Section  -->
<div class="container">
  <nav class="sub_menu">
    <ul>
      <li><a href="/user-authentication">Become a host/manage properties</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </nav>
</div>
  <section class="navigation">
      <div class="nav-container">
        <div class="brand">
          <a href="/">Borrego<small class="tld">rentals</small></a>
        </div>
        <nav>
          <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
          <ul class="nav-list">
            <li ><a href="/">Home</a></li>
                    <li ><a href="/vacation-rentals">Vacation Homes</a></li>
                    <li ><a href="/promotions">Promotions</a></li>
                    <li ><a href="/about">About Us</a></li>
                    <li ><a href="/rates">Rates</a></li>
                    <li><a href="/legal-info">Legal Info</a></li>
          </ul>
        </nav>
      </div>
  </section>

<!--Body Start -->
<div style="background-color: #F1F1F1; display: block;">
<!--Title-->

<div class="row slide-container">
  <br>
  <a href="/vacation-rentals" class="ui labeled icon button" style="width:auto; height:auto; font-size: .8em">
    <i class="left chevron icon"></i>
    Back to search results
  </a>
  <br>
  <h1 class="house-listing-title">Beautiful House for the taking, sleeps 8</h1>
</div>

<!--Media-->
<div class="row slide-container">
  <!--SlideShow-->
<div class="large-8 medium-8 small-12 columns" style="padding:0 !important">
  <div style="width: 100%; height:auto;">
    <div id="sync1" class="owl-carousel owl-theme">
    <div class="item">
      <img src="images/borrego1.jpg"></div>
    <div class="item">
      <img src="images/borrego2.jpg"></div>
    <div class="item">
      <img src="images/borrego3.jpg"></div>
    <div class="item">
      <img src="images/borrego4.jpg"></div>
    <div class="item">
      <img src="images/borrego5.jpg"></div>
    <div class="item">
      <img src="images/borrego6.jpg"></div>
    <div class="item">
      <img src="images/borrego7.jpg"></div>
    <div class="item">
      <img src="images/borrego8.jpg"></div>
  </div>

  <div id="sync2" class="owl-carousel owl-theme">
    <div class="item">
      <img src="images/borrego1.jpg"></div>
    <div class="item">
      <img src="images/borrego2.jpg"></div>
    <div class="item">
      <img src="images/borrego3.jpg"></div>
    <div class="item">
      <img src="images/borrego4.jpg"></div>
    <div class="item">
      <img src="images/borrego5.jpg"></div>
    <div class="item">
      <img src="images/borrego6.jpg"></div>
    <div class="item">
      <img src="images/borrego7.jpg"></div>
    <div class="item">
      <img src="images/borrego8.jpg"></div>
    </div>
  </div>

  <!--details-->
  <p>Super comfy and well decorated, this cozy 1 bedroom, 1 bathroom unit that will sleep up to 4 people (approximately 800 sq ft.). This unit is located in Phase 2 of the Summit, in the Bradley building and walking distance to the Eagle Lodge. Enjoy a full kitchen, flat screen TV, DVD, stereo and wood stove. The master bedroom has a queen bed and a sofa sleeper in living room. The complex offers underground parking, Jacuzzi, sauna, weight room, laundry facilities, and a pool (summer only). Located on the green shuttle line. This unit is not pet friendly. Rated 90 out of 100. Unit code = su233. Free access to the Snowcreek Athletic Club with this rental! Business Tax Certificate #3025.
 To view video of this unit go to:https://youtu.be/xjYUdeLBafY <br> - Summit 233</p>

<span class="amenities">
  <h4><i class="fa fa-check-square-o" aria-hidden="true"></i>Amenities</h4>
  <div class="amenities-table">
    <table class="ui table">
      <tbody>
          <tr>
              <td style="vertical-align: top; text-align: right;"><strong>Living:</strong></td>
              <td>1 bedrooms / 1 bathrooms (max occupancy: 4)</td>
          </tr>
          <tr>
              <td style="vertical-align: top; text-align: right;"><strong>General:</strong></td>
              <td>Linens Provided, Towels Provided</td>
          </tr>
          <tr>
              <td style="vertical-align: top; text-align: right;"><strong>Kitchen:</strong></td>
              <td>Coffee Maker, Dishes Utensils, Dishwasher, Kitchen, Microwave, Oven, Pantry Items, Refrigerator, Stove, Toaster</td>
          </tr>
          <tr>
              <td style="vertical-align: top; text-align: right;"><strong>Nearby:</strong></td>
              <td>Fitness Center</td>
          </tr>
      </tbody>
    </table>
  </div>
</span>
<br>
<span class="section-map amenities">
  <h4><i class="fa fa-map-o" aria-hidden="true"></i>Map</h4>
  <div id="map" style="width: 100%; height: 400px; border: 0px solid black; position: relative; overflow: hidden;">
  </div>
</span>
</div>

<!--Booking-->
<div class="large-4 medium-4 small-12 columns" data-sticky-container>
    <div class="sticky" data-sticky data-margin-top="0">
        <div style="padding-bottom: 344.062px;">
            <div>
                <div class="booking-form">
                    <h3>1573 DeAnza Vacation Home</h3>
                    <h1>$150<small>avg/night</small></h1>
                    <h4 style="color:green">Your dates are avalible</h4>
                    <div class="first-wrap">
                        <div class="second-wrap">
                            <div class="ui calendar css-calandar" id="rangestart" style="float: left">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Start" class="date-noborder">
                                </div>
                            </div>
                            <div class="date-arrow-wrapper">
                                <img src="images/right-arrow.svg" class="date-arrow">
                            </div>
                            <div class="ui calendar css-calandar" id="rangeend" style="float: right">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="End" class="date-noborder">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                      <a href="/checkout"><button class="success button expanded mres book-button"><strong>Book now</strong></button></a>
                      <div class="center credit-card-icons">
                        <img src="images/cards-icon.png">
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!--footer-->
<footer class="marketing-site-footer">
  <div class="row medium-unstack">
    <div class="medium-6 columns">
      <h4 class="marketing-site-footer-name">Borrego Rentals</h4>
      <p>Borrego Rentals is your resource for renting quality mountain condominium and resort home accommodations. We offer hundreds of privately owned vacation residences in beautiful Borrego desert, California’s four season resort.</p>
    </div>
    <div class="medium-6 columns">
        <form id="contact">
          <div class="container">
            <div class="head">
              <h2>Contact Us</h2>
            </div>
            <input type="text" name="name" placeholder="Name" /><br />
            <input  type="email" name="email" placeholder="Email" /><br />
            <textarea type="text" name="message" placeholder="Message"></textarea><br />
            <div class="message">Message Sent</div>
            <button id="submit" type="submit">
              Send!
            </button>
          </div>
        </form>
      </div>
  </div>
  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p>&copy; 2017 No rights reserved</p>
        <ul class="menu marketing-site-footer-bottom-links">
          <li ><a href="/">Home</a></li>
          <li ><a href="/vacation-rentals">Vacation Homes</a></li>
          <li ><a href="/promotions">Promotions</a></li>
          <li ><a href="/about">About Us</a></li>
          <li ><a href="/rates">Rates</a></li>
          <li><a href="/legal-info">Legal Info</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!--    Start Back To Top    -->
<a href="#" class="btn_fancy" id="back_top">
  <div class="solid_layer"></div>

  <div class="text_layer"><img src="images/top_arrow.png" alt="Back to top" title="" class="top_arrow"></div>
</a>
<!--    End Back To Top    -->


<!--    Javascript Files    -->
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRgACgXH1Y2iJwKDb95iwQlIxprygg7Fg&callback=initMap" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript" src="javascripts/touchSwipe.min.js"></script>
<script type="text/javascript" src="javascripts/easing.js"></script>
<script type="text/javascript" src="javascripts/foundation.min.js"></script>
<script type="text/javascript" src="javascripts/foundation/foundation.topbar.js"></script>
<script type="text/javascript" src="javascripts/carouFredSel.js"></script>
<script type="text/javascript" src="javascripts/scrollTo.js"></script>
<script type="text/javascript" src="javascripts/slideshow.js"></script>
<script type="text/javascript" src="javascripts/mapBottom.js"></script>
<script type="text/javascript" src="javascripts/mapSide.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>


</body>
</html>
