<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  <!--    Stylesheet Files    -->
  <link rel="stylesheet" href="stylesheets/normalize.css" />
  <link rel="stylesheet" href="stylesheets/foundation.min.css" />
  <link rel="stylesheet" href="stylesheets/home.css" />
  <link rel="stylesheet" href="stylesheets/foundationDatePicker.css" />
  <link rel="stylesheet" href="stylesheets/slideshow.css" />

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css" rel="stylesheet" type="text/css" />

  <!--    Javascript files are placed before </body>    -->
</head>

<body>
  <!--  Start Hero Section  -->
<div class="container">
  <nav class="sub_menu">
    <ul>
      <li><a href="/user-authentication">Become a host/manage properties</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </nav>
</div>
 <section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="/">Borrego<small class="tld">rentals</small></a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li ><a href="/">Home</a></li>
                <li ><a href="/vacation-rentals">Vacation Homes</a></li>
                <li ><a href="/promotions">Promotions</a></li>
                <li ><a href="/about">About Us</a></li>
                <li ><a href="/rates">Rates</a></li>
                <li><a href="/legal-info">Legal Info</a></li>
      </ul>
    </nav>
  </div>
</section>

<div>
  <br>
</div>

<!--Body Start -->
<div class="promotions-first-container">
  <div class="promotions-second-container">
    <div class="callout primary">
      <div class="row">
        <h1>First Timers Discount</h1>
      </div>
      <br>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <img src="images/10Percent1.svg">
        </div>
        <div class="small-12 medium-4 columns">
          <h3><i class="fa fa-edit"></i>Terms & Conditions</h3>
          <ul>
            <li>Must be your first booking</li>
            <li>Valid for arrivals between 1/1/18 - 12/30/18</li>
            <li>Must book online using promo code</li>
            <li>Not valid with other offers</li>
          </ul>
        </div>
        <div class="small-12 medium-4 columns">
          <h3><i class="fa fa-unlock-alt"></i>Promo Code</h3>
          <div class="promo-code">
            <img src="images/first-booking.svg">
          </div>
          <div class="promo-code">
            <button class="fluid positive ui button">Book Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="callout primary">
      <div class="row">
        <h1>Spring 2018 Discount</h1>
      </div>
      <br>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <img src="images/$30.svg">
        </div>
        <div class="small-12 medium-4 columns">
          <h3><i class="fa fa-edit"></i>Terms & Conditions</h3>
          <ul>
            <li>Valid for arrivals between 4/1/18 - 6/30/18</li>
            <li>Must book online using promo code</li>
            <li>Not valid with other offers</li>
          </ul>
        </div>
        <div class="small-12 medium-4 columns">
          <h3><i class="fa fa-unlock-alt"></i>Promo Code</h3>
          <div class="promo-code">
            <img src="images/spring-savings.svg">
          </div>
          <div class="promo-code">
            <button class="fluid positive ui button">Book Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="callout primary">
      <div class="row">
        <h1>Returning Costumers</h1>
      </div>
      <br>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <img src="images/10percent2.svg">
        </div>
        <div class="small-12 medium-4 columns">
          <h3><i class="fa fa-edit"></i>Terms & Conditions</h3>
          <ul>
            <li>Must be previous guest (Last 12 months)</li>
            <li>Valid for arrivals between 1/1/18 - 12/30/18</li>
            <li>Must book online using promo code</li>
            <li>Not valid with other offers</li>
          </ul>
        </div>
        <div class="small-12 medium-4 columns">
          <h3><i class="fa fa-unlock-alt"></i>Promo Code</h3>
          <div class="promo-code">
            <img src="images/back-for-more.svg">
          </div>
          <div class="promo-code">
            <button class="fluid positive ui button">Book Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="callout primary">
      <div class="row">
        <h1>Summer 2018 Discount</h1>
      </div>
      <br>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <img src="images/$20.svg">
        </div>
        <div class="small-12 medium-4 columns">
          <h3><i class="fa fa-edit"></i>Terms & Conditions</h3>
          <ul>
            <li>Valid for arrivals between 6/1/18 - 9/30/18</li>
            <li>Must book online using promo code</li>
            <li>Not valid with other offers</li>
          </ul>
        </div>
        <div class="small-12 medium-4 columns">
          <h3><i class="fa fa-unlock-alt"></i>Promo Code</h3>
          <div class="promo-code">
            <img src="images/summer-fun.svg">
          </div>
          <div class="promo-code">
            <button class="fluid positive ui button">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--footer-->
<footer class="marketing-site-footer">
  <div class="row medium-unstack">
    <div class="medium-6 columns">
      <h4 class="marketing-site-footer-name">Borrego Rentals</h4>
      <p>Borrego Rentals is your resource for renting quality mountain condominium and resort home accommodations. We offer hundreds of privately owned vacation residences in beautiful Borrego desert, California’s four season resort.</p>
    </div>
    <div class="medium-6 columns">
        <form id="contact">
          <div class="container">
            <div class="head">
              <h2>Contact Us</h2>
            </div>
            <input type="text" name="name" placeholder="Name" /><br />
            <input  type="email" name="email" placeholder="Email" /><br />
            <textarea type="text" name="message" placeholder="Message"></textarea><br />
            <div class="message">Message Sent</div>
            <button id="submit" type="submit">
              Send!
            </button>
          </div>
        </form>
      </div>
  </div>
  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p>&copy; 2017 No rights reserved</p>
        <ul class="menu marketing-site-footer-bottom-links">
          <li ><a href="/">Home</a></li>
          <li ><a href="/vacation-rentals">Vacation Homes</a></li>
          <li ><a href="/promotions">Promotions</a></li>
          <li ><a href="/about">About Us</a></li>
          <li ><a href="/rates">Rates</a></li>
          <li><a href="/legal-info">Legal Info</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!--    Start Back To Top    -->
<a href="#" class="btn_fancy" id="back_top">
  <div class="solid_layer"></div>

  <div class="text_layer"><img src="images/top_arrow.png" alt="Back to top" title="" class="top_arrow"></div>
</a>
<!--    End Back To Top    -->


<!--    Javascript Files    -->
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRgACgXH1Y2iJwKDb95iwQlIxprygg7Fg&callback=initMap" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript" src="javascripts/touchSwipe.min.js"></script>
<script type="text/javascript" src="javascripts/easing.js"></script>
<script type="text/javascript" src="javascripts/foundation.min.js"></script>
<script type="text/javascript" src="javascripts/foundation/foundation.topbar.js"></script>
<script type="text/javascript" src="javascripts/carouFredSel.js"></script>
<script type="text/javascript" src="javascripts/scrollTo.js"></script>
<script type="text/javascript" src="javascripts/slideshow.js"></script>
<script type="text/javascript" src="javascripts/mapBottom.js"></script>
<script type="text/javascript" src="javascripts/mapSide.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>


</body>
</html>
