<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  <!--    Stylesheet Files    -->
  <link rel="stylesheet" href="stylesheets/normalize.css" />
  <link rel="stylesheet" href="stylesheets/foundation.min.css" />
  <link rel="stylesheet" href="stylesheets/home.css" />
  <link rel="stylesheet" href="stylesheets/calendar.min.css" />

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet" type="text/css" />

  <!--    Javascript files are placed before </body>    -->
</head>

<body>
  <!--  Start navigaion Section  -->
<div class="container">
  <nav class="sub_menu">
    <ul>
      <li><a href="/user-authentication">Become a host/manage properties</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </nav>
</div>
  <section class="navigation">
      <div class="nav-container">
        <div class="brand">
          <a href="/">Borrego<small class="tld">rentals</small></a>
        </div>
        <nav>
          <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
          <ul class="nav-list">
            <li ><a href="/">Home</a></li>
                    <li ><a href="/vacation-rentals">Vacation Homes</a></li>
                    <li ><a href="/promotions">Promotions</a></li>
                    <li ><a href="/about">About Us</a></li>
                    <li ><a href="/rates">Rates</a></li>
                    <li><a href="/legal-info">Legal Info</a></li>
          </ul>
        </nav>
      </div>
  </section>

<!--Body Start -->

  <div class="large-7 medium-9 small-12 columns" id="vacation-rentals-wrap">
    <br>
    <div class="ui form vacation-form">
      <div class="three fields">
        <div class="field large">
          <div class="first-wrap">
              <div class="second-wrap">
                  <div class="ui calendar css-calandar" id="rangestart" style="float: left">
                      <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" placeholder="Start" class="date-noborder">
                        </div>
                  </div>
                <div class="date-arrow-wrapper">
                    <img src="images/right-arrow.svg" class="date-arrow">
                </div>
                <div class="ui calendar css-calandar" id="rangeend" style="float: right">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="End" class="date-noborder">
                      </div>
                    </div>
                </div>
          </div>
        </div>
        <div class="field small">
          <select class="fluid ui dropdown">
            <option value="">Guests</option>
            <option value="0">1 Guests</option>
            <option value="1">2 Guests</option>
            <option value="2">3 Guests</option>
            <option value="3">4 Guests</option>
            <option value="4">5 Guests</option>
            <option value="5">6 Guests</option>
            <option value="6">7 Guests</option>
            <option value="7">8 Guests</option>
          </select>
        </div>
        <div class="field medium">
          <select class="fluid ui dropdown">
            <option value="">All Houses</option>
            <option value="1">DeAnza</option>
            <option value="0">Other House</option>
          </select>
        </div>
        <div class="field small">
          <button class="fluid positive ui button">Search</button>
        </div>
      </div>
    </div>
    <br>

  <!--Houses area-->
  <div class="image-container">
    <div class="row">
      <div class="large-6 columns">
        <a class="common-link" href="/house-listing">
        <div class="banner-price">$200<small>avg/night</small></div>
        <img src="images/borrego1.jpg" class="grid-image">
        <h1>Beautiful House for the taking</h1>
        <p>lorim ipsum gootsem howdysem lodysem you sim cant bum see ioosp me</p>
        <br>
        </a>
      </div>
      <div class="large-6 columns">
        <a class="common-link" href="/house-listing">
        <div class="banner-price">$200<small>avg/night</small></div>
        <img src="images/borrego2.jpg" class="grid-image">
        <h1>Beautiful House for the taking</h1>
        <p>lorim ipsum gootsem howdysem lodysem you sim cant bum see ioosp me</p>
        <br>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <a class="common-link" href="/house-listing">
        <div class="banner-price">$200<small>avg/night</small></div>
        <img src="images/borrego3.jpg" class="grid-image">
        <h1>Beautiful House for the taking</h1>
        <p>lorim ipsum gootsem howdysem lodysem you sim cant bum see ioosp me</p>
        <br>
        </a>
      </div>
      <div class="large-6 columns">
        <a class="common-link" href="/house-listing">
        <div class="banner-price">$200<small>avg/night</small></div>
        <img src="images/borrego4.jpg" class="grid-image">
        <h1>Beautiful House for the taking</h1>
        <p>lorim ipsum gootsem howdysem lodysem you sim cant bum see ioosp me</p>
        <br>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <a class="common-link" href="/house-listing">
        <div class="banner-price">$200<small>avg/night</small></div>
        <img src="images/borrego5.jpg" class="grid-image">
        <h1>Beautiful House for the taking</h1>
        <p>lorim ipsum gootsem howdysem lodysem you sim cant bum see ioosp me</p>
        <br>
        </a>
      </div>
      <div class="large-6 columns">
        <a class="common-link" href="/house-listing">
        <div class="banner-price">$200<small>avg/night</small></div>
        <img src="images/borrego6.jpg" class="grid-image">
        <h1>Beautiful House for the taking</h1>
        <p>lorim ipsum gootsem howdysem lodysem you sim cant bum see ioosp me</p>
        <br>
        </a>
      </div>
    </div>
  </div>
  </div>

<!--Side Map Area -->
<div class="large-5 medium-3 small-0 columns" style="padding-right:0 !important">
  <div class="map-wrap" id="map-wrap">
    <div id="map"></div>
  </div>
</div>




<!--  Start Map Section  -->
<section class="map" id="connect">

  <!--    Start Map Shadow    -->
  <div class="shadow"></div>
  <!--    End Map Shadow    -->

  <div id="map_container"></div>
</section>
<!--  End Map Section  -->



<!--  Start Footer Section  -->
<!--footer-->
<footer class="marketing-site-footer">
  <div class="row medium-unstack">
    <div class="medium-6 columns">
      <h4 class="marketing-site-footer-name">Borrego Rentals</h4>
      <p>Borrego Rentals is your resource for renting quality mountain condominium and resort home accommodations. We offer hundreds of privately owned vacation residences in beautiful Borrego desert, California’s four season resort.</p>
    </div>
    <div class="medium-6 columns">
        <form id="contact">
          <div class="container">
            <div class="head">
              <h2>Contact Us</h2>
            </div>
            <input type="text" name="name" placeholder="Name" /><br />
            <input  type="email" name="email" placeholder="Email" /><br />
            <textarea type="text" name="message" placeholder="Message"></textarea><br />
            <div class="message">Message Sent</div>
            <button id="submit" type="submit">
              Send!
            </button>
          </div>
        </form>
      </div>
  </div>
  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p>&copy; 2017 No rights reserved</p>
        <ul class="menu marketing-site-footer-bottom-links">
          <li ><a href="/">Home</a></li>
          <li ><a href="/vacation-rentals">Vacation Homes</a></li>
          <li ><a href="/promotions">Promotions</a></li>
          <li ><a href="/about">About Us</a></li>
          <li ><a href="/rates">Rates</a></li>
          <li><a href="/legal-info">Legal Info</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--  End Footer Section  -->

<!--    Start Back To Top    -->
<a href="#" class="btn_fancy" id="back_top">
  <div class="solid_layer"></div>

  <div class="text_layer"><img src="images/top_arrow.png" alt="Back to top" title="" class="top_arrow"></div>
</a>
<!--    End Back To Top    -->





<!--    Javascript Files    -->
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRgACgXH1Y2iJwKDb95iwQlIxprygg7Fg&callback=initMap" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript" src="javascripts/touchSwipe.min.js"></script>
<script type="text/javascript" src="javascripts/easing.js"></script>
<script type="text/javascript" src="javascripts/foundation.min.js"></script>
<script type="text/javascript" src="javascripts/foundation/foundation.topbar.js"></script>
<script type="text/javascript" src="javascripts/carouFredSel.js"></script>
<script type="text/javascript" src="javascripts/scrollTo.js"></script>
<script type="text/javascript" src="javascripts/mapBottom.js"></script>
<script type="text/javascript" src="javascripts/mapSide.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>


</body>
</html>
